.userlist{
    display:flex;
    flex-direction: column;
    gap:15px;
    padding:50px;
}
.userlist__item{
    display:flex;
    flex-direction: row;
    margin:10px;
}

.userlist__array {
    display:flex;
    gap:30px;
    flex-wrap:wrap;
    padding:15px;
}
.userlist__operations{
    display:flex;
    flex-direction: row;
    max-height:400px;
    gap:15px;
    align-items: baseline;

}
.sorting{
    display:flex;
    flex-direction: column;
    
}
.userlist{
    display:flex;
    flex-direction: column;
}
.sorting__types{
    display:flex;
    gap:15px;
    padding-top: 10px;
}
.filterInput {
    max-height:30px;
}