.logoutbtn {
    margin: 15px;
    display:flex;
    justify-content:center;
    border-radius:15px;
    padding:10px;
    max-width:150px;
    background-color: greenyellow;
    display:flex;
    align-items: center;
}